body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
  overflow:hidden;
}
#u1069_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1069_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:52px;
}
#u1072 {
  position:absolute;
  left:1px;
  top:-7px;
  width:359px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1073 {
  position:absolute;
  left:2px;
  top:18px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:68px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:55px;
  width:359px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1075 {
  position:absolute;
  left:2px;
  top:26px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:88px;
}
#u1076 {
  position:absolute;
  left:1px;
  top:499px;
  width:359px;
  height:88px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1077 {
  position:absolute;
  left:2px;
  top:36px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:42px;
}
#u1078 {
  position:absolute;
  left:0px;
  top:3px;
  width:54px;
  height:42px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:13px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1069_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:562px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:562px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:273px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:638px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1069_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
